
body{
    margin: 0;
    background-image: url(google1.jpeg);
    font-family: "Verdana";
    font-size: 16px;
}
nav{
    background-image: url(wallheader2.png);
    background-repeat: repeat;
    padding: -5px 30px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}
.brand-container{
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -5px;
}
.brand-title{
    display: inline-block;
    margin: 0;
    margin-left: 60px;
    font-family: sans-serif;
    font-size: 60px;
    font-variant: small-caps;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(233, 241, 241, 0.918); 
    text-shadow: 0px 0px 35px rgba(196, 107, 181, .836);
    color: blue;
    top: -30px;
    left: 30px;

}
.logo {
    margin: 0;
    margin-left: 15px;

}
.brand-title2{
    /*display: block;*/
    margin: 0;
    margin-left: 16px;
    font-family: verdana;
    font-size: 14px;
    color: tomato;
    position: relative;
    top: 110px;
    left: 0px;
}
.brand-title3{
    display: block;
    margin: 0;
    margin-left: 185px;
    margin-top: -10px;
    font-family: "Verdana";
    font-size: 14px;
    color: #0be63a;
    /*-webkit-text-stroke-width: .5px;*/
    -webkit-text-stroke-color: rgba(224, 235, 234, 0.932);
    text-shadow: 1px 10px 10px #e60deebb;
    top: -20px;
    left: 188px;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; } 
}
/* .brand-title3 {
            animation: blink 10s infinite;
        }*/
.links-container{
    float:right; 
    position: relative;
    top: 65px;
}
.link1{
    color: rgb(255, 255, 255);
    font-family: Verdana;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(46, 207, 14);
    padding: 4px 8px;
    margin: 0 25px;
    text-decoration: none;
    transition: 1s;
}
.link1:hover{
    color: rgb(219, 187, 7);
}

.body-title span{
    color: #ff022c;
    font-style: normal;

}

h1{
    position: relative;
    margin: 20px 0 0;
    font-size: 4em;
    font-weight: 900;
    color: #fff;
    z-index: hidden;
}

h1 span{
    color: rgba(168, 7, 7, 0.979);
    font-style:normal
    font-family: "Sofia";
  }
p{
    position: relative;
    margin: 20px 0 0;
    font-size: 4em;
    font-weight: 900;
    z-index: hidden;
}

.navbar {
    width: 100%;
    overflow: auto;
    background-image: url(wallheader5.png);
    /*background-color: #333;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-family: Verdana;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    }

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*design body*/


table, th, td {
    border:2px solid orange;
    color:gray;
    background:black;
    background-size: 50% auto;
    background-position: center;
  }

  .scenarios{
    color:rgb(1, 1, 14);
    /*text-align: center;*/
    font-family: Verdana;
    font-size: 34px;
    font-variant: small-caps;
    margin-top: 198px;
    margin-bottom: 10px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgba(224, 235, 234, 0.932);
    text-shadow: 1px 10px 10px #e60deebb;
  }
  .scenariospti{
    color:rgb(1, 1, 14);
    /*text-align: center;*/
    font-family: Verdana;
    font-size: 34px;
    font-variant: small-caps;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: rgba(224, 235, 234, 0.932);
    text-shadow: 1px 10px 10px #e60deebb;
  }
  .scenarios1{
    color:white;
    font-size: 18px;
    font-family: Arial;
  }
  .scene{
    color: rgba(131, 138, 131, 0.918);
    font-size: 16px;
    font-family: Arial;
  }
  b{
    color: blue;
  }
  .note{
    color: red;
  }
  .sanction{
    color:maroon;
  }
  .additional{
    color: rgba(0, 10, 10, 0.918);
    font-size: 16px;
    font-family: Arial;
    background-color: #0be63a;
  }
  .active {
    background-color: #04AA6D;
  }